mixin why-go(data)
  section.why-go
    .container
      .why-go__header
        .row
          .col-lg-4
            h2.why-go__title.h2 Зачем идти?
          .col-lg-8
            p.why-go__desc.
              Нужен текст ждут спикеры-практики, которые оперируют бизнес-показателями и&nbsp;доходчиво разъясняют, как увеличивать продажи. На&nbsp;реальных проектах они покажут, как выбирать рекламные продукты, эффективные для вашей отрасли.
      .row
        .col-lg-4
          .why-go__item
            h3.why-go__name.h3 Эксперты рынка
            p.why-go__text.
              Вас ждут спикеры-практики, которые оперируют бизнес-показателями и&nbsp;доходчиво разъясняют, как увеличивать продажи. На&nbsp;реальных проектах они покажут, как выбирать рекламные продукты, эффективные для вашей отрасли.

        .col-lg-4
          .why-go__item
            h3.why-go__name.h3 Кейсы
            p.why-go__text.
              Не&nbsp;пропустите яркие кейсы и&nbsp;впечатляющие результаты коллег по&nbsp;отрасли. Все услышанное можно масштабировать, применить к&nbsp;своей маркетинговой стратегии и&nbsp;сразу внедрять в&nbsp;работу.

        .col-lg-4
          .why-go__item
            h3.why-go__name.h3 Нетворкинг
            p.why-go__text.
              Встречайтесь с&nbsp;коллегами, общайтесь
              с&nbsp;партнерами и&nbsp;задавайте вопросы спикерам. Отличный повод совместить приятное
              с&nbsp;полезным и&nbsp;непринужденно поговорить
              о&nbsp;делах.
