mixin header(data)
    header.header
      .row.align-items-center.align-items-lg-start
        .col
          .header__logo
            img(src="__static__img/general/logo-white.svg" width=184 height=40 alt="Логотип etarget")
        .col-auto
          .dropdown
            button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | 2019
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
              a.dropdown-item(href='#') 2018
              a.dropdown-item(href='#') 2017
              a.dropdown-item(href='#') 2016
              a.dropdown-item(href='#') 2015
              a.dropdown-item(href='#') 2014
              a.dropdown-item(href='#') 2013
              a.dropdown-item(href='#') 2012
