mixin who-like(data)
  section.who-like
    .container
      h2.who-like__title.h2 Кому точно понравится
      .row
        .col-md-4
          .who-like__item
            .who-like__icon
              img(src="__static__img/general/icon-1.png" width="100" height="94" aria-hidden="true" alt="")
            p.who-like__desc.
              Владельцам сайтов
              и&nbsp;собственникам бизнеса
        .col-md-4
          .who-like__item
            .who-like__icon
              img(src="__static__img/general/icon-2.png" width="100" height="98" aria-hidden="true" alt="")
            p.who-like__desc.
              Топ-менеджерам
              и&nbsp;руководителям отделов

        .col-md-4
          .who-like__item
            .who-like__icon
              img(src="__static__img/general/icon-3.png" width="97" height="92" aria-hidden="true" alt="")
            p.who-like__desc.
              Специалистам в&nbsp;области
              интернет-маркетинга, SMM,
              PR&nbsp;и&nbsp;рекламы


