mixin idea(data)
  section.idea
    .container
      h2.idea__title.h2 Идея конференций
      .idea__body
        .row
          .col-lg-7
            .idea__text
              p.
                Мы&nbsp;ежегодно проводим крупные мероприятия и&nbsp;подбираем разноплановые
                доклады, чтобы каждый слушатель мог найти для себя что-то интересное.
                Но&nbsp;иногда бывает сложно применить к&nbsp;себе опыт, полученный в&nbsp;другой сфере.
                <br>
                Поэтому мы&nbsp;решили: eTarget ждет трансформация!
              p.
                Теперь мы&nbsp;регулярно будем приглашать специалистов по&nbsp;интернет-маркетингу,
                чтобы поделиться &laquo;сливками&raquo; знаний и&nbsp;кейсами в&nbsp;определенных тематиках.
          .col-lg-5
            p.idea__strong.
              Как продвигать сайты медицинской
              тематики? О&nbsp;чем помнить при работе
              в&nbsp;e-commerce? Как бороться
              со&nbsp;страхами покупателей
              в&nbsp;недвижимости? Обсудим
              на&nbsp;отраслевых eTarget.
    .slider
      .slider__wrapper.container
        .slider__list.js-slider
          div
            .slider__item.wide
              img(data-lazy="__static__img/content/about-conf-1.jpg" width="1120" height="435" alt="eTarget. Недвижимость")
              .slider__body-slide
                .slider__how-was
                  span 25 мая 2018
                  span Офис mail.ru group
                h3.slider__name.h2 eTarget. Недвижимость
                a(href="#").slider__button.button Как это было?
          div
            .slider__item.wide
              img(data-lazy="__static__img/content/about-conf-2.jpg" width="1120" height="435" alt="eTarget. Недвижимость")
              .slider__body-slide
                .slider__how-was
                  span 25 мая 2018
                  span Офис mail.ru group
                h3.slider__name.h2 eTarget. Недвижимость
                a(href="#").slider__button.button Как это было?
          div
            .slider__item.wide
              img(data-lazy="__static__img/content/about-conf-3.jpg" width="1120" height="435" alt="eTarget. Недвижимость")
              .slider__body-slide
                .slider__how-was
                  span 25 мая 2018
                  span Офис mail.ru group
                h3.slider__name.h2 eTarget. Недвижимость
                a(href="#").slider__button.button Как это было?
      .container
        .row.align-items-center
          .col
            .slider__dots.js-dots
          .col-auto
            .slider__arrows
              button(type="button" aria-label="предыдущий слайдре").slider__arrow.prev.js-prev-slide
              button(type="button" aria-label="следующий слайдер").slider__arrow.next.js-next-slide




